# Optimizing Mammography Allocation via Age and Race Segmentation #
### Contributors: Austin Huang, Kelvin Phung, Ethan Yu, Wenye (Tim) Zhou ###

Female breast cancer is the most common type of cancer for women in the U.S.<sup>1</sup> As such, it is imperative that we optimize the allocation of mammography facilities/resources among the U.S. states.

In this project, we optimize via age and race segmentation. That is, we use the age and racial compositions of each state in order to determine relative access to mammography facilities. For age, the expected number of deaths of wmen from breast cancer for all age ranges were summed together to produce the expected number of deaths of women per facility per state. (The number of facilities in each state was extracted from our original dataset, which included information on certified mammography facilities in U.S. states and territories.) For race, the expected number of deaths of women from breast cancer for each race per facility were determined for each state. In both cases, a larger ratio of expected number of deaths to number of facilities in a state implies a greater need for federal funding in that state, especially for uncertified facilities; if more deaths are experienced per facility, in other words, we need higher-quality facilities, as well as greater access to facilities in general, in order to provide adequate healthcare.

Additional datasets were utilized throughout our investigation. Citations are listed at the end of this notebook.

In [63]:
# imports
import pandas as pd
import numpy as np
import math
import warnings
warnings.filterwarnings('ignore')
import json
import plotly.express as px
import plotly.io as pio
pio.renderers.default = 'browser'

In [9]:
# Datasets used in our investigation
df_beg = pd.read_csv("beginner.csv")
df_sc = pd.read_csv("sc-est2019-alldata6.csv") #Extended version of the second dataset provided to us; includes race compositions
df_ref = pd.read_csv("ref.csv") #Data linking statename to their abbreviations; from World Population Review
df_cancer = pd.read_csv("NewCancerAge.csv") #Data from American Cancer Society on probability of developing and dying of breast cancer (by age)
df_deathrate = pd.read_csv("race_death_rate.csv") #Data from American Cancer Society on breast cancer-specific mortality rate by race

### 1. Number of Facilities Per U.S. State (and District of Columbia) ###

To begin, we extracted the number of mammography facilities per U.S. state, including the District of Columbia. Although the provided dataset included mammography facilities in U.S. territories and jurisdictions, we decided to narrow our analysis to the U.S. states and the District of Columbia-- especially since our additional datasets did not carry information about these territories and jurisdictions. 

To identify the relevant state in each recorded observation, we looked for 2 letter long codes in the dataset and used an external dataset to drop all 2 letter codes that were not US state codes. Then, we tallied the number of facilities per state.

In [10]:
df_beg=df_beg[["Facility Name","Address 1","Address 2","Address 3", "City","State","Zip Code","Phone","Fax"]]

#Calculate number of facilities per state
def hist(input_list):
    '''
    Tallies the number of instances of items in a list
    '''
    tally={}
    for item in input_list:
        if item not in tally:
            tally[item]=0
        tally[item]+=1
    return tally

state_list = []

for index, row in df_beg.iterrows():
    for elem in row:
        if(not pd.isnull(elem)):
            if(len(str(elem.strip()==2))):
                    state_list.append(elem.strip())
new_state_list=[]
for elem in state_list:
    if elem in df_ref["code"].values:
        new_state_list.append(elem)

num_of_facilities = hist(new_state_list)

In [11]:
# Number of mammography facilities in each state, organized in descending order
num_of_facilities_df = pd.DataFrame.from_dict(num_of_facilities, orient='index', columns=['Number of Facilities'])
num_of_facilities_df.sort_values(by='Number of Facilities', ascending=False)

    Number of Facilities
CA                   761
FL                   627
TX                   576
NY                   550
PA                   355
IL                   335
OH                   333
GA                   277
MI                   271
NC                   271
NJ                   247
WI                   215
MN                   210
VA                   205
TN                   192
IN                   179
AZ                   171
MO                   159
MA                   155
WA                   149
LA                   145
IA                   145
KY                   144
AL                   142
CO                   138
MD                   134
OK                   116
CT                   115
SC                   110
KS                   109
OR                   108
MS                    99
NE                    99
AR                    83
NV                    69
UT                    64
WV                    64
ID                    49
ND                    48
ME                    48
SD                    48
MT                    47
NM                    46
NH                    45
HI                    37
RI                    34
AK                    33
WY                    30
DE                    30
DC                    16
VT                    15

### 2. Mammography Allocation via Age Segmentation

For our investigation of age, we segmented the 2019 Census data into 4 disjoint age groups. For each age group, we calculated the expected deaths of women in each state by multiplying the population of each age group by the death rate of each age group; these products were summed together to create an overall expected number of deaths per state.

The average number of expected deaths per state was also calculated-- and this was further used to calculate each state's deviation from the mean.

In [12]:
# Group 2019 census data according to state ('name') and age 
df_sc=df_sc[["NAME","SEX","AGE","ORIGIN","RACE","POPESTIMATE2019"]]
df_sc_new = df_sc.groupby(["NAME",pd.cut(df_sc["AGE"],bins=[0,50,60,70,np.inf],labels=["<49","50-59","60-69",">70"])])["POPESTIMATE2019"].sum()
df_sc_new.to_frame()

                 POPESTIMATE2019
NAME      AGE
Alabama   <49           12367868
          50-59          2594968
          60-69          2327012
          >70            2095288
Alaska    <49            2009140
...                          ...
Wisconsin >70            2478008
Wyoming   <49            1476420
          50-59           285832
          60-69           292564
          >70             233932

[204 rows x 1 columns]

In [13]:
df_cancer=df_cancer.rename(columns={"Female / 0-49 years": "<49", "Female / 50-59 years": "50-59","Female / 60-69 years":"60-69","Female / 70+ years":">70"})
df_new_cancer = df_cancer.to_dict()

# Expected number of deaths of women per state = breast cancer-specific mortality rate for women * population of women in that state.
expected_death={}
for index,val in df_sc_new.iteritems():
    if index[0] not in expected_death:
        expected_death[index[0]]=0
    expected_death[index[0]]+=val/2*float(df_new_cancer[index[1]][0])
pd.DataFrame.from_dict(expected_death, orient='index', columns=['Expected Deaths'])

                      Expected Deaths
Alabama                   1120.995856
Alaska                     122.296946
Arizona                   1735.888268
Arkansas                   695.761294
California                7996.197284
Colorado                  1122.871676
Connecticut                848.315734
Delaware                   243.022828
District of Columbia       124.156374
Florida                   5919.343984
Georgia                   2065.157000
Hawaii                     351.261888
Idaho                      381.917142
Illinois                  2748.579022
Indiana                   1447.927550
Iowa                       732.150272
Kansas                     635.987404
Kentucky                   989.503030
Louisiana                  985.167838
Maine                      360.836146
Maryland                  1295.106784
Massachusetts             1563.755786
Michigan                  2311.138710
Minnesota                 1228.373068
Mississippi                646.404024
Missouri                  1410.664032
Montana                    260.936446
Nebraska                   417.683310
Nevada                     657.733742
New Hampshire              328.604788
New Jersey                2002.379214
New Mexico                 490.765044
New York                  4434.093410
North Carolina            2318.420100
North Dakota               162.420100
Ohio                      2695.521108
Oklahoma                   853.978936
Oregon                     981.589438
Pennsylvania              3149.334076
Rhode Island               249.177948
South Carolina            1211.335058
South Dakota               197.059198
Tennessee                 1514.261704
Texas                     5213.528344
Utah                       522.687368
Vermont                    158.599298
Virginia                  1829.073162
Washington                1597.097354
West Virginia              466.143702
Wisconsin                 1333.572836
Wyoming                    127.785808

In [14]:
#Calculate number of deaths per facility
expected_deaths_per_facility={}
for key1, val1 in expected_death.items():
    for key2, val2 in num_of_facilities.items():      
        for idx1 in range(0,len(df_ref["state"])):
            if (key1 == df_ref.loc[idx1,"state"] and key2 == df_ref.loc[idx1,"code"]):
                expected_deaths_per_facility[key1]=val1/val2
pd.DataFrame.from_dict(expected_deaths_per_facility, orient='index', columns=['ED / Facility'])

                      ED / Facility
Alabama                    7.894337
Alaska                     3.705968
Arizona                   10.151393
Arkansas                   8.382666
California                10.507487
Colorado                   8.136751
Connecticut                7.376659
Delaware                   8.100761
District of Columbia       7.759773
Florida                    9.440740
Georgia                    7.455440
Hawaii                     9.493565
Idaho                      7.794227
Illinois                   8.204713
Indiana                    8.088981
Iowa                       5.049312
Kansas                     5.834747
Kentucky                   6.871549
Louisiana                  6.794261
Maine                      7.517420
Maryland                   9.664976
Massachusetts             10.088747
Michigan                   8.528187
Minnesota                  5.849396
Mississippi                6.529334
Missouri                   8.872101
Montana                    5.551839
Nebraska                   4.219023
Nevada                     9.532373
New Hampshire              7.302329
New Jersey                 8.106798
New Mexico                10.668805
New York                   8.061988
North Carolina             8.555056
North Dakota               3.383752
Ohio                       8.094658
Oklahoma                   7.361887
Oregon                     9.088791
Pennsylvania               8.871364
Rhode Island               7.328763
South Carolina            11.012137
South Dakota               4.105400
Tennessee                  7.886780
Texas                      9.051264
Utah                       8.166990
Vermont                   10.573287
Virginia                   8.922308
Washington                10.718774
West Virginia              7.283495
Wisconsin                  6.202664
Wyoming                    4.259527

In [15]:
# Subtract average number of deaths per facility from all states to get a better comparison
comparison={}
sum=0
count=0
for key, val in expected_deaths_per_facility.items():
    sum+=val
    count+=1
avg=sum/count
for key, val in expected_deaths_per_facility.items():
    comparison[key]=val-avg

pd.DataFrame.from_dict(comparison, orient='index', columns=['ED / F: Deviation from Mean'])

                      ED / F: Deviation from Mean
Alabama                                  0.082503
Alaska                                  -4.105866
Arizona                                  2.339559
Arkansas                                 0.570832
California                               2.695652
Colorado                                 0.324917
Connecticut                             -0.435176
Delaware                                 0.288927
District of Columbia                    -0.052061
Florida                                  1.628906
Georgia                                 -0.356394
Hawaii                                   1.681730
Idaho                                   -0.017607
Illinois                                 0.392879
Indiana                                  0.277147
Iowa                                    -2.762522
Kansas                                  -1.977087
Kentucky                                -0.940285
Louisiana                               -1.017573
Maine                                   -0.294414
Maryland                                 1.853142
Massachusetts                            2.276913
Michigan                                 0.716353
Minnesota                               -1.962439
Mississippi                             -1.282501
Missouri                                 1.060267
Montana                                 -2.259995
Nebraska                                -3.592811
Nevada                                   1.720539
New Hampshire                           -0.509506
New Jersey                               0.294964
New Mexico                               2.856971
New York                                 0.250154
North Carolina                           0.743222
North Dakota                            -4.428082
Ohio                                     0.282824
Oklahoma                                -0.449947
Oregon                                   1.276957
Pennsylvania                             1.059529
Rhode Island                            -0.483071
South Carolina                           3.200303
South Dakota                            -3.706434
Tennessee                                0.074946
Texas                                    1.239430
Utah                                     0.355156
Vermont                                  2.761452
Virginia                                 1.110474
Washington                               2.906940
West Virginia                           -0.528339
Wisconsin                               -1.609170
Wyoming                                 -3.552307

### 3. Mammography Allocation via Race Segmentation

Using additional datasets from the Census and the American Cancer Society that contained information about racial compositions and breast cancer-specific mortality rates per race, respectively, we calculated the expected number of deaths of women per race in each state. Then, just as we did in our analysis of age, we calculated the expected number of deaths per number of facilities in each state (for every race). 

We paid special attention to marginalized races, namely Black women and Hispanic women. These demographic groups are more likely to report barriers to mammography (and adequate healthcare in general), and they are more prone to late detection and lower localized disease rates.<sup>2</sup> As such, access to mammography facilities--and high-quality ones, at that--is of special importance and urgency to our investigation. Looking at the expected number of deaths for Black and Hispanic women in each state per facility, we know which states need more equitable access to mammography.

In [16]:
# Group 2019 census data according to state ('name'), sex (women specifically), origin, and race
women_in_census = df_sc.loc[(df_sc['SEX'] == 2), :] # Sex 2 represents women
census_women_2019_df = women_in_census.groupby(["NAME","SEX","ORIGIN", "RACE"]).sum()
census_women_2019_df = census_women_2019_df[['POPESTIMATE2019']]
census_women_2019_df

# Origin 0 represents total number of non-Hispanic and Hispanic; Origin 1 represents non-Hispanic; Origin 2 represents Hispanic
# Race 1 represents White, Race 2 represents Black, Race 3 represents American Indian / Alaskan Native,
# Race 4 represents Asian American, Race 5 represents Pacific Islander and Native Hawaiian, Race 6 represents Two or more races (excluded from our analysis)

                         POPESTIMATE2019
NAME    SEX ORIGIN RACE
Alabama 2   0      1             1726955
                   2              703474
                   3               17244
                   4               39304
                   5                2451
...                                  ...
Wyoming 2   2      2                 465
                   3                1650
                   4                 207
                   5                  84
                   6                1217

[918 rows x 1 columns]

In [17]:
# Pivot table with state, sex, and origin as indices and race as columns
pvt = census_women_2019_df.pivot_table(index=['NAME', 'SEX', 'ORIGIN'], columns=['RACE'], values='POPESTIMATE2019', aggfunc='sum')
pvt

RACE                        1       2      3      4     5      6
NAME      SEX ORIGIN
Alabama   2   0       1726955  703474  17244  39304  2451  44240
              1       1637819  695866  14078  38512  1323  40393
              2         89136    7608   3166    792  1128   3847
Alaska    2   0        224537   11845  56305  25272  5187  26981
              1        206911   10468  53442  24719  4934  24547
...                       ...     ...    ...    ...   ...    ...
Wisconsin 2   1       2368936  189219  26262  88428  1094  50706
              2        173740    9020   7904   1527   522   7867
Wyoming   2   0        262839    3059   7812   3606   275   6438
              1        238585    2594   6162   3399   191   5221
              2         24254     465   1650    207    84   1217

[153 rows x 6 columns]

In [18]:
# Calculate number of Hispanic women in each state
white_and_black = pvt[[1,2]].reset_index()
hispanic_w_and_b = white_and_black[(white_and_black['ORIGIN'] == 2)]
hispanic_w_and_b['Hispanic'] = hispanic_w_and_b[1] + hispanic_w_and_b[2]
hispanic_w_and_b

C:\Users\kelvi\AppData\Local\Temp\ipykernel_31480\2800323192.py:4: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

RACE                  NAME  SEX  ORIGIN        1       2  Hispanic
2                  Alabama    2       2    89136    7608     96744
5                   Alaska    2       2    17626    1377     19003
8                  Arizona    2       2  1031478   25647   1057125
11                Arkansas    2       2   101097    3756    104853
14              California    2       2  6957387  168660   7126047
17                Colorado    2       2   544333   15376    559709
20             Connecticut    2       2   246601   34367    280968
23                Delaware    2       2    35878    5739     41617
26    District of Columbia    2       2    29483    5770     35253
29                 Florida    2       2  2616435  149951   2766386
32                 Georgia    2       2   413565   49880    463445
35                  Hawaii    2       2    25688    1453     27141
38                   Idaho    2       2    98728    1298    100026
41                Illinois    2       2   989282   35111   1024393
44                 Indiana    2       2   207984   12331    220315
47                    Iowa    2       2    84559    2642     87201
50                  Kansas    2       2   152986    5505    158491
53                Kentucky    2       2    69610    4913     74523
56               Louisiana    2       2    94985   11440    106425
59                   Maine    2       2     9778     513     10291
62                Maryland    2       2   246501   34714    281215
65           Massachusetts    2       2   329948   59907    389855
68                Michigan    2       2   218743   16792    235535
71               Minnesota    2       2   126830    6187    133017
74             Mississippi    2       2    34977    5247     40224
77                Missouri    2       2   110304    6939    117243
80                 Montana    2       2    15731     263     15994
83                Nebraska    2       2    91296    2858     94154
86                  Nevada    2       2   390912   15251    406163
89           New Hampshire    2       2    22196    1836     24032
92              New Jersey    2       2   767507   95716    863223
95              New Mexico    2       2   476501    7734    484235
98                New York    2       2  1405710  319591   1725301
101         North Carolina    2       2   401603   45235    446838
104           North Dakota    2       2    11453     482     11935
107                   Ohio    2       2   186242   22379    208621
110               Oklahoma    2       2   169210    6997    176207
113                 Oregon    2       2   237025    5277    242302
116           Pennsylvania    2       2   368603   73072    441675
119           Rhode Island    2       2    63967   12813     76780
122         South Carolina    2       2   119781   13614    133395
125           South Dakota    2       2    12275     374     12649
128              Tennessee    2       2   158608   11223    169831
131                  Texas    2       2  5393592  119931   5513523
134                   Utah    2       2   200397    4490    204887
137                Vermont    2       2     5229     280      5509
140               Virginia    2       2   336024   32618    368642
143             Washington    2       2   404972   13239    418211
146          West Virginia    2       2    12376     789     13165
149              Wisconsin    2       2   173740    9020    182760
152                Wyoming    2       2    24254     465     24719

In [64]:
# Calculate (total) number of Asian American and Pacific Islander/Native Hawaiian women in each state
aapi = pvt[[4, 5]].reset_index()
his_and_nonhis_aapi = aapi[(aapi['ORIGIN'] == 0)]
his_and_nonhis_aapi['AAPI'] = his_and_nonhis_aapi[4] + his_and_nonhis_aapi[5]
his_and_nonhis_aapi

RACE                  NAME  SEX  ORIGIN        4       5     AAPI
0                  Alabama    2       0    39304    2451    41755
3                   Alaska    2       0    25272    5187    30459
6                  Arizona    2       0   142511    9430   151941
9                 Arkansas    2       0    25866    5519    31385
12              California    2       0  3208061  100349  3308410
15                Colorado    2       0   108856    5532   114388
18             Connecticut    2       0    91037    1822    92859
21                Delaware    2       0    20222     517    20739
24    District of Columbia    2       0    18172     462    18634
27                 Florida    2       0   341566   12157   353723
30                 Georgia    2       0   239615    5944   245559
33                  Hawaii    2       0   285467   70648   356115
36                   Idaho    2       0    15647    1862    17509
39                Illinois    2       0   387870    4025   391895
42                 Indiana    2       0    87049    2196    89245
45                    Iowa    2       0    41347    2321    43668
48                  Kansas    2       0    47459    1699    49158
51                Kentucky    2       0    37030    1962    38992
54               Louisiana    2       0    42553    1399    43952
57                   Maine    2       0     9699     223     9922
60                Maryland    2       0   213429    3246   216675
63           Massachusetts    2       0   259747    3773   263520
66                Michigan    2       0   170386    2062   172448
69               Minnesota    2       0   149509    2076   151585
72             Mississippi    2       0    17438     801    18239
75                Missouri    2       0    69860    4855    74715
78                 Montana    2       0     5738     427     6165
81                Nebraska    2       0    27055    1098    28153
84                  Nevada    2       0   147078   12353   159431
87           New Hampshire    2       0    20867     330    21197
90              New Jersey    2       0   455066    5163   460229
93              New Mexico    2       0    20789    1662    22451
96                New York    2       0   916950   13672   930622
99          North Carolina    2       0   172048    6386   178434
102           North Dakota    2       0     6495     305     6800
105                   Ohio    2       0   150389    3420   153809
108               Oklahoma    2       0    49461    4069    53530
111                 Oregon    2       0   109655    9435   119090
114           Pennsylvania    2       0   249029    5117   254146
117           Rhode Island    2       0    20582    1055    21637
120         South Carolina    2       0    49782    2364    52146
123           South Dakota    2       0     7119     355     7474
126              Tennessee    2       0    70484    3150    73634
129                  Texas    2       0   776139   21678   797817
132                   Utah    2       0    45385   16327    61712
135                Vermont    2       0     6613     111     6724
138               Virginia    2       0   310281    4936   315217
141             Washington    2       0   383920   29888   413808
144          West Virginia    2       0     7799     269     8068
147              Wisconsin    2       0    89955    1616    91571
150                Wyoming    2       0     3606     275     3881

In [65]:
# Calculate the number of non-Hispanic White, Black, and American Indian/Alaskan Native women in each state
w_b_ai = pvt[[1, 2, 3]].reset_index()
nonhis_w_b_ai = w_b_ai[(w_b_ai['ORIGIN'] == 1)]
nonhis_w_b_ai.rename(columns={1: 'Non-Hispanic White', 2: 'Non-Hispanic Black', 3: 'Non-Hispanic American Indian/Alaskan Native'}, inplace=True)
nonhis_w_b_ai

RACE,NAME,SEX,ORIGIN,Non-Hispanic White,Non-Hispanic Black,Non-Hispanic American Indian/Alaskan Native
1,Alabama,2,1,1637819,695866,14078
4,Alaska,2,1,206911,10468,53442
7,Arizona,2,1,1991632,157367,147653
10,Arkansas,2,1,1106548,244397,11826
13,California,2,1,7206004,1115162,82116
16,Colorado,2,1,1939164,108049,18478
19,Connecticut,2,1,1203981,193283,3816
22,Delaware,2,1,310127,113461,1556
25,District of Columbia,2,1,132938,171363,717
28,Florida,2,1,5831619,1733516,27058
31,Georgia,2,1,2808427,1791352,12505
34,Hawaii,2,1,142238,10833,1464
37,Idaho,2,1,729776,5807,9927
40,Illinois,2,1,3915418,946338,9814
43,Indiana,2,1,2681003,333925,7906
46,Iowa,2,1,1356500,57287,4909
49,Kansas,2,1,1111305,80571,11756
52,Kentucky,2,1,1916243,185216,4653
55,Louisiana,2,1,1380692,790899,15347
58,Maine,2,1,638797,9825,4523
61,Maryland,2,1,1543245,966301,7575
64,Massachusetts,2,1,2526846,260570,6218
67,Michigan,2,1,3772357,722822,28833
70,Minnesota,2,1,2245896,187389,30423
73,Mississippi,2,1,854727,590979,7788
76,Missouri,2,1,2468435,373148,13456
79,Montana,2,1,455285,2318,32908
82,Nebraska,2,1,762684,45871,8326
85,Nevada,2,1,727437,144786,13583
88,New Hampshire,2,1,618035,8799,1404
91,New Jersey,2,1,2482582,605454,6636
94,New Mexico,2,1,390250,16981,96529
97,New York,2,1,5488997,1501082,29281
100,North Carolina,2,1,3359163,1194214,60866
103,North Dakota,2,1,312524,10674,19912
106,Ohio,2,1,4666975,771982,11451
109,Oklahoma,2,1,1306490,146167,168131
112,Oregon,2,1,1605725,37932,23691
115,Pennsylvania,2,1,4945423,722912,9494
118,Rhode Island,2,1,391447,32614,2335
121,South Carolina,2,1,1678669,726139,9616
124,South Dakota,2,1,358626,7983,37236
127,Tennessee,2,1,2565299,603022,9658
130,Texas,2,1,6026156,1809559,47227
133,Utah,2,1,1241988,16148,15478
136,Vermont,2,1,292469,3459,1020
139,Virginia,2,1,2644311,848766,11278
142,Washington,2,1,2573946,139458,48392
145,West Virginia,2,1,836099,28749,1824
148,Wisconsin,2,1,2368936,189219,26262
151,Wyoming,2,1,238585,2594,6162

In [21]:
# Merge previous dataframes to display the number of women of each race for each state
hispanic_women = hispanic_w_and_b[['NAME', 'Hispanic']]
hispanic_women.set_index('NAME')
aapi_women = his_and_nonhis_aapi[['NAME', 'AAPI']]
aapi_women.set_index('NAME')
nonhis = nonhis_w_b_ai[['NAME', 'Non-Hispanic White', 'Non-Hispanic Black', 'Non-Hispanic American Indian/Alaskan Native']]
nonhis.set_index('NAME')

hisp_and_aapi = hispanic_women.merge(aapi_women, how='inner', on='NAME')
all_races = hisp_and_aapi.merge(nonhis, how='inner', on='NAME')
all_races.set_index('NAME', inplace=True)
all_races

RACE,Hispanic,AAPI,Non-Hispanic White,Non-Hispanic Black,Non-Hispanic American Indian/Alaskan Native
NAME,,,,,
Alabama,96744,41755,1637819,695866,14078
Alaska,19003,30459,206911,10468,53442
Arizona,1057125,151941,1991632,157367,147653
Arkansas,104853,31385,1106548,244397,11826
California,7126047,3308410,7206004,1115162,82116
Colorado,559709,114388,1939164,108049,18478
Connecticut,280968,92859,1203981,193283,3816
Delaware,41617,20739,310127,113461,1556
District of Columbia,35253,18634,132938,171363,717
Florida,2766386,353723,5831619,1733516,27058
Georgia,463445,245559,2808427,1791352,12505
Hawaii,27141,356115,142238,10833,1464
Idaho,100026,17509,729776,5807,9927
Illinois,1024393,391895,3915418,946338,9814
Indiana,220315,89245,2681003,333925,7906
Iowa,87201,43668,1356500,57287,4909
Kansas,158491,49158,1111305,80571,11756
Kentucky,74523,38992,1916243,185216,4653
Louisiana,106425,43952,1380692,790899,15347
Maine,10291,9922,638797,9825,4523
Maryland,281215,216675,1543245,966301,7575
Massachusetts,389855,263520,2526846,260570,6218
Michigan,235535,172448,3772357,722822,28833
Minnesota,133017,151585,2245896,187389,30423
Mississippi,40224,18239,854727,590979,7788
Missouri,117243,74715,2468435,373148,13456
Montana,15994,6165,455285,2318,32908
Nebraska,94154,28153,762684,45871,8326
Nevada,406163,159431,727437,144786,13583
New Hampshire,24032,21197,618035,8799,1404
New Jersey,863223,460229,2482582,605454,6636
New Mexico,484235,22451,390250,16981,96529
New York,1725301,930622,5488997,1501082,29281
North Carolina,446838,178434,3359163,1194214,60866
North Dakota,11935,6800,312524,10674,19912
Ohio,208621,153809,4666975,771982,11451
Oklahoma,176207,53530,1306490,146167,168131
Oregon,242302,119090,1605725,37932,23691
Pennsylvania,441675,254146,4945423,722912,9494
Rhode Island,76780,21637,391447,32614,2335
South Carolina,133395,52146,1678669,726139,9616
South Dakota,12649,7474,358626,7983,37236
Tennessee,169831,73634,2565299,603022,9658
Texas,5513523,797817,6026156,1809559,47227
Utah,204887,61712,1241988,16148,15478
Vermont,5509,6724,292469,3459,1020
Virginia,368642,315217,2644311,848766,11278
Washington,418211,413808,2573946,139458,48392
West Virginia,13165,8068,836099,28749,1824
Wisconsin,182760,91571,2368936,189219,26262
Wyoming,24719,3881,238585,2594,6162

In [22]:
# Breast cancer-specific mortality rate per race (per 100,000 people)
deathrate_female = df_deathrate[df_deathrate['Cancer Type'] == 'Breast'].filter(regex='Female')
deathrate_female

,All races & ethnicities combined / Female,American Indian and Alaska Native / Female,Asian and Pacific Islander / Female,Hispanic / Female,Non-Hispanic black / Female,Non-Hispanic white / Female
2,19.6,20.5,11.7,13.7,27.6,19.7

In [23]:
# Expected number of deaths of women from breast cancer in each state, organized by race
hispanic_ED = all_races['Hispanic'] * deathrate_female['Hispanic / Female'].item() / 100000
aapi_ED = all_races['AAPI'] * deathrate_female['Asian and Pacific Islander / Female'].item() / 100000
non_hispanic_white_ED = all_races['Non-Hispanic White'] * deathrate_female['Non-Hispanic white / Female'].item() / 100000
non_hispanic_black_ED = all_races['Non-Hispanic Black'] * deathrate_female['Non-Hispanic black / Female'].item() / 100000
aian_ED = all_races['Non-Hispanic American Indian/Alaskan Native'] * deathrate_female['American Indian and Alaska Native / Female'].item() / 100000

expected_deaths_columns = {'Hispanic ED' : hispanic_ED, 'AAPI ED' : aapi_ED, 'Non-Hispanic White ED' : non_hispanic_white_ED,
                           'Non-Hispanic Black ED' : non_hispanic_black_ED, 'Non-Hispanic American Indian/Alaskan Native ED' : aian_ED}
expected_deaths_df = pd.DataFrame(expected_deaths_columns)
expected_deaths_df

,Hispanic ED,AAPI ED,Non-Hispanic White ED,Non-Hispanic Black ED,Non-Hispanic American Indian/Alaskan Native ED
NAME,,,,,
Alabama,13.253928,4.885335,322.650343,192.059016,2.885990
Alaska,2.603411,3.563703,40.761467,2.889168,10.955610
Arizona,144.826125,17.777097,392.351504,43.433292,30.268865
Arkansas,14.364861,3.672045,217.989956,67.453572,2.424330
California,976.268439,387.083970,1419.582788,307.784712,16.833780
Colorado,76.680133,13.383396,382.015308,29.821524,3.787990
Connecticut,38.492616,10.864503,237.184257,53.346108,0.782280
Delaware,5.701529,2.426463,61.095019,31.315236,0.318980
District of Columbia,4.829661,2.180178,26.188786,47.296188,0.146985
Florida,378.994882,41.385591,1148.828943,478.450416,5.546890
Georgia,63.491965,28.730403,553.260119,494.413152,2.563525
Hawaii,3.718317,41.665455,28.020886,2.989908,0.300120
Idaho,13.703562,2.048553,143.765872,1.602732,2.035035
Illinois,140.341841,45.851715,771.337346,261.189288,2.011870
Indiana,30.183155,10.441665,528.157591,92.163300,1.620730
Iowa,11.946537,5.109156,267.230500,15.811212,1.006345
Kansas,21.713267,5.751486,218.927085,22.237596,2.409980
Kentucky,10.209651,4.562064,377.499871,51.119616,0.953865
Louisiana,14.580225,5.142384,271.996324,218.288124,3.146135
Maine,1.409867,1.160874,125.843009,2.711700,0.927215
Maryland,38.526455,25.350975,304.019265,266.699076,1.552875
Massachusetts,53.410135,30.831840,497.788662,71.917320,1.274690
Michigan,32.268295,20.176416,743.154329,199.498872,5.910765
Minnesota,18.223329,17.735445,442.441512,51.719364,6.236715
Mississippi,5.510688,2.133963,168.381219,163.110204,1.596540
Missouri,16.062291,8.741655,486.281695,102.988848,2.758480
Montana,2.191178,0.721305,89.691145,0.639768,6.746140
Nebraska,12.899098,3.293901,150.248748,12.660396,1.706830
Nevada,55.644331,18.653427,143.305089,39.960936,2.784515
New Hampshire,3.292384,2.480049,121.752895,2.428524,0.287820
New Jersey,118.261551,53.846793,489.068654,167.105304,1.360380
New Mexico,66.340195,2.626767,76.879250,4.686756,19.788445
New York,236.366237,108.882774,1081.332409,414.298632,6.002605
North Carolina,61.216806,20.876778,661.755111,329.603064,12.477530
North Dakota,1.635095,0.795600,61.567228,2.946024,4.081960
Ohio,28.581077,17.995653,919.394075,213.067032,2.347455
Oklahoma,24.140359,6.263010,257.378530,40.342092,34.466855
Oregon,33.195374,13.933530,316.327825,10.469232,4.856655
Pennsylvania,60.509475,29.735082,974.248331,199.523712,1.946270
Rhode Island,10.518860,2.531529,77.115059,9.001464,0.478675
South Carolina,18.275115,6.101082,330.697793,200.414364,1.971280
South Dakota,1.732913,0.874458,70.649322,2.203308,7.633380
Tennessee,23.266847,8.615178,505.363903,166.434072,1.979890
Texas,755.352651,93.344589,1187.152732,499.438284,9.681535
Utah,28.069519,7.220304,244.671636,4.456848,3.172990
Vermont,0.754733,0.786708,57.616393,0.954684,0.209100
Virginia,50.503954,36.880389,520.929267,234.259416,2.311990
Washington,57.294907,48.415536,507.067362,38.490408,9.920360
West Virginia,1.803605,0.943956,164.711503,7.934724,0.373920
Wisconsin,25.038120,10.713807,466.680392,52.224444,5.383710
Wyoming,3.386503,0.454077,47.001245,0.715944,1.263210

In [24]:
expected_deaths_df['code'] = df_ref['code'].values
expected_deaths_df.set_index('code', inplace=True) # Changing indices to two-letter acronyms to facilitate merging

# Calculate expected number of deaths per facility for each race, organized by state
deaths_per_facilities = expected_deaths_df.merge(num_of_facilities_df, how='inner', left_on='code', right_index=True)
deaths_per_facilities['Hispanic ED/F'] = deaths_per_facilities['Hispanic ED'] / deaths_per_facilities['Number of Facilities']
deaths_per_facilities['AAPI ED/F'] = deaths_per_facilities['AAPI ED'] / deaths_per_facilities['Number of Facilities']
deaths_per_facilities['NHW ED/F'] = deaths_per_facilities['Non-Hispanic White ED'] / deaths_per_facilities['Number of Facilities']
deaths_per_facilities['NHB ED/F'] = deaths_per_facilities['Non-Hispanic Black ED'] / deaths_per_facilities['Number of Facilities']
deaths_per_facilities['AI/AN ED/F'] = deaths_per_facilities['Non-Hispanic American Indian/Alaskan Native ED'] / deaths_per_facilities['Number of Facilities']
deaths_per_facilities

,Hispanic ED,AAPI ED,Non-Hispanic White ED,Non-Hispanic Black ED,Non-Hispanic American Indian/Alaskan Native ED,Number of Facilities,Hispanic ED/F,AAPI ED/F,NHW ED/F,NHB ED/F,AI/AN ED/F
code,,,,,,,,,,,
AL,13.253928,4.885335,322.650343,192.059016,2.885990,142,0.093338,0.034404,2.272186,1.352528,0.020324
AK,2.603411,3.563703,40.761467,2.889168,10.955610,33,0.078891,0.107991,1.235196,0.087551,0.331988
AZ,144.826125,17.777097,392.351504,43.433292,30.268865,171,0.846936,0.103960,2.294453,0.253996,0.177011
AR,14.364861,3.672045,217.989956,67.453572,2.424330,83,0.173071,0.044242,2.626385,0.812694,0.029209
CA,976.268439,387.083970,1419.582788,307.784712,16.833780,761,1.282876,0.508652,1.865418,0.404448,0.022121
CO,76.680133,13.383396,382.015308,29.821524,3.787990,138,0.555653,0.096981,2.768227,0.216098,0.027449
CT,38.492616,10.864503,237.184257,53.346108,0.782280,115,0.334718,0.094474,2.062472,0.463879,0.006802
DE,5.701529,2.426463,61.095019,31.315236,0.318980,30,0.190051,0.080882,2.036501,1.043841,0.010633
DC,4.829661,2.180178,26.188786,47.296188,0.146985,16,0.301854,0.136261,1.636799,2.956012,0.009187
FL,378.994882,41.385591,1148.828943,478.450416,5.546890,627,0.604458,0.066006,1.832263,0.763079,0.008847
GA,63.491965,28.730403,553.260119,494.413152,2.563525,277,0.229213,0.103720,1.997329,1.784885,0.009255
HI,3.718317,41.665455,28.020886,2.989908,0.300120,37,0.100495,1.126093,0.757321,0.080808,0.008111
ID,13.703562,2.048553,143.765872,1.602732,2.035035,49,0.279665,0.041807,2.933997,0.032709,0.041531
IL,140.341841,45.851715,771.337346,261.189288,2.011870,335,0.418931,0.136871,2.302500,0.779670,0.006006
IN,30.183155,10.441665,528.157591,92.163300,1.620730,179,0.168621,0.058333,2.950601,0.514879,0.009054
IA,11.946537,5.109156,267.230500,15.811212,1.006345,145,0.082390,0.035236,1.842969,0.109043,0.006940
KS,21.713267,5.751486,218.927085,22.237596,2.409980,109,0.199204,0.052766,2.008505,0.204015,0.022110
KY,10.209651,4.562064,377.499871,51.119616,0.953865,144,0.070900,0.031681,2.621527,0.354997,0.006624
LA,14.580225,5.142384,271.996324,218.288124,3.146135,145,0.100553,0.035465,1.875837,1.505435,0.021697
ME,1.409867,1.160874,125.843009,2.711700,0.927215,48,0.029372,0.024185,2.621729,0.056494,0.019317
MD,38.526455,25.350975,304.019265,266.699076,1.552875,134,0.287511,0.189186,2.268800,1.990292,0.011589
MA,53.410135,30.831840,497.788662,71.917320,1.274690,155,0.344582,0.198915,3.211540,0.463983,0.008224
MI,32.268295,20.176416,743.154329,199.498872,5.910765,271,0.119071,0.074452,2.742267,0.736158,0.021811
MN,18.223329,17.735445,442.441512,51.719364,6.236715,210,0.086778,0.084454,2.106864,0.246283,0.029699
MS,5.510688,2.133963,168.381219,163.110204,1.596540,99,0.055664,0.021555,1.700820,1.647578,0.016127
MO,16.062291,8.741655,486.281695,102.988848,2.758480,159,0.101021,0.054979,3.058375,0.647729,0.017349
MT,2.191178,0.721305,89.691145,0.639768,6.746140,47,0.046621,0.015347,1.908322,0.013612,0.143535
NE,12.899098,3.293901,150.248748,12.660396,1.706830,99,0.130294,0.033272,1.517664,0.127883,0.017241
NV,55.644331,18.653427,143.305089,39.960936,2.784515,69,0.806440,0.270340,2.076885,0.579144,0.040355
NH,3.292384,2.480049,121.752895,2.428524,0.287820,45,0.073164,0.055112,2.705620,0.053967,0.006396
NJ,118.261551,53.846793,489.068654,167.105304,1.360380,247,0.478792,0.218003,1.980035,0.676540,0.005508
NM,66.340195,2.626767,76.879250,4.686756,19.788445,46,1.442178,0.057104,1.671288,0.101886,0.430184
NY,236.366237,108.882774,1081.332409,414.298632,6.002605,550,0.429757,0.197969,1.966059,0.753270,0.010914
NC,61.216806,20.876778,661.755111,329.603064,12.477530,271,0.225892,0.077036,2.441901,1.216247,0.046043
ND,1.635095,0.795600,61.567228,2.946024,4.081960,48,0.034064,0.016575,1.282651,0.061376,0.085041
OH,28.581077,17.995653,919.394075,213.067032,2.347455,333,0.085829,0.054041,2.760943,0.639841,0.007049
OK,24.140359,6.263010,257.378530,40.342092,34.466855,116,0.208107,0.053991,2.218780,0.347777,0.297128
OR,33.195374,13.933530,316.327825,10.469232,4.856655,108,0.307365,0.129014,2.928961,0.096937,0.044969
PA,60.509475,29.735082,974.248331,199.523712,1.946270,355,0.170449,0.083761,2.744361,0.562039,0.005482
RI,10.518860,2.531529,77.115059,9.001464,0.478675,34,0.309378,0.074457,2.268090,0.264749,0.014079
SC,18.275115,6.101082,330.697793,200.414364,1.971280,110,0.166137,0.055464,3.006344,1.821949,0.017921
SD,1.732913,0.874458,70.649322,2.203308,7.633380,48,0.036102,0.018218,1.471861,0.045902,0.159029
TN,23.266847,8.615178,505.363903,166.434072,1.979890,192,0.121181,0.044871,2.632104,0.866844,0.010312
TX,755.352651,93.344589,1187.152732,499.438284,9.681535,576,1.311376,0.162057,2.061029,0.867080,0.016808
UT,28.069519,7.220304,244.671636,4.456848,3.172990,64,0.438586,0.112817,3.822994,0.069638,0.049578
VT,0.754733,0.786708,57.616393,0.954684,0.209100,15,0.050316,0.052447,3.841093,0.063646,0.013940
VA,50.503954,36.880389,520.929267,234.259416,2.311990,205,0.246361,0.179904,2.541118,1.142729,0.011278
WA,57.294907,48.415536,507.067362,38.490408,9.920360,149,0.384530,0.324936,3.403137,0.258325,0.066580
WV,1.803605,0.943956,164.711503,7.934724,0.373920,64,0.028181,0.014749,2.573617,0.123980,0.005842
WI,25.038120,10.713807,466.680392,52.224444,5.383710,215,0.116456,0.049832,2.170606,0.242904,0.025041
WY,3.386503,0.454077,47.001245,0.715944,1.263210,30,0.112883,0.015136,1.566708,0.023865,0.042107

In [25]:
deaths_per_facilities['State'] = df_ref['state'].values
deaths_per_facilities.set_index('State', inplace=True) #Re-changing indices to full state names for readibility

# Truncated version of previous table; includes the expected number of deaths per facility for each race, organized by state
dpf_trunc = deaths_per_facilities[['Hispanic ED/F', 'AAPI ED/F', 'NHW ED/F', 'NHB ED/F', 'AI/AN ED/F']]
dpf_trunc.reset_index(inplace=True)
dpf_trunc

,State,Hispanic ED/F,AAPI ED/F,NHW ED/F,NHB ED/F,AI/AN ED/F
0,Alabama,0.093338,0.034404,2.272186,1.352528,0.020324
1,Alaska,0.078891,0.107991,1.235196,0.087551,0.331988
2,Arizona,0.846936,0.103960,2.294453,0.253996,0.177011
3,Arkansas,0.173071,0.044242,2.626385,0.812694,0.029209
4,California,1.282876,0.508652,1.865418,0.404448,0.022121
5,Colorado,0.555653,0.096981,2.768227,0.216098,0.027449
6,Connecticut,0.334718,0.094474,2.062472,0.463879,0.006802
7,Delaware,0.190051,0.080882,2.036501,1.043841,0.010633
8,District of Columbia,0.301854,0.136261,1.636799,2.956012,0.009187
9,Florida,0.604458,0.066006,1.832263,0.763079,0.008847
10,Georgia,0.229213,0.103720,1.997329,1.784885,0.009255
11,Hawaii,0.100495,1.126093,0.757321,0.080808,0.008111
12,Idaho,0.279665,0.041807,2.933997,0.032709,0.041531
13,Illinois,0.418931,0.136871,2.302500,0.779670,0.006006
14,Indiana,0.168621,0.058333,2.950601,0.514879,0.009054
15,Iowa,0.082390,0.035236,1.842969,0.109043,0.006940
16,Kansas,0.199204,0.052766,2.008505,0.204015,0.022110
17,Kentucky,0.070900,0.031681,2.621527,0.354997,0.006624
18,Louisiana,0.100553,0.035465,1.875837,1.505435,0.021697
19,Maine,0.029372,0.024185,2.621729,0.056494,0.019317
20,Maryland,0.287511,0.189186,2.268800,1.990292,0.011589
21,Massachusetts,0.344582,0.198915,3.211540,0.463983,0.008224
22,Michigan,0.119071,0.074452,2.742267,0.736158,0.021811
23,Minnesota,0.086778,0.084454,2.106864,0.246283,0.029699
24,Mississippi,0.055664,0.021555,1.700820,1.647578,0.016127
25,Missouri,0.101021,0.054979,3.058375,0.647729,0.017349
26,Montana,0.046621,0.015347,1.908322,0.013612,0.143535
27,Nebraska,0.130294,0.033272,1.517664,0.127883,0.017241
28,Nevada,0.806440,0.270340,2.076885,0.579144,0.040355
29,New Hampshire,0.073164,0.055112,2.705620,0.053967,0.006396
30,New Jersey,0.478792,0.218003,1.980035,0.676540,0.005508
31,New Mexico,1.442178,0.057104,1.671288,0.101886,0.430184
32,New York,0.429757,0.197969,1.966059,0.753270,0.010914
33,North Carolina,0.225892,0.077036,2.441901,1.216247,0.046043
34,North Dakota,0.034064,0.016575,1.282651,0.061376,0.085041
35,Ohio,0.085829,0.054041,2.760943,0.639841,0.007049
36,Oklahoma,0.208107,0.053991,2.218780,0.347777,0.297128
37,Oregon,0.307365,0.129014,2.928961,0.096937,0.044969
38,Pennsylvania,0.170449,0.083761,2.744361,0.562039,0.005482
39,Rhode Island,0.309378,0.074457,2.268090,0.264749,0.014079
40,South Carolina,0.166137,0.055464,3.006344,1.821949,0.017921
41,South Dakota,0.036102,0.018218,1.471861,0.045902,0.159029
42,Tennessee,0.121181,0.044871,2.632104,0.866844,0.010312
43,Texas,1.311376,0.162057,2.061029,0.867080,0.016808
44,Utah,0.438586,0.112817,3.822994,0.069638,0.049578
45,Vermont,0.050316,0.052447,3.841093,0.063646,0.013940
46,Virginia,0.246361,0.179904,2.541118,1.142729,0.011278
47,Washington,0.384530,0.324936,3.403137,0.258325,0.066580
48,West Virginia,0.028181,0.014749,2.573617,0.123980,0.005842
49,Wisconsin,0.116456,0.049832,2.170606,0.242904,0.025041
50,Wyoming,0.112883,0.015136,1.566708,0.023865,0.042107

### 4. Data Visualization ###

We created geographical maps to visualize our findings and more easily derive actionable conclusions. In all of these visualizations, states in lighter colors (i.e., more yellow colors) possess a higher number of expected deaths per facility, while states in darker colors (i.e., more blue colors) possess a lower number of expected deaths per facility. By extension, states in lighter colors are in more need of federal funding (to democratize access to higher-quality mammography healthcare and lessen the burden of expected deaths on each facility).

In [26]:
us_states = json.load(open("gz_2010_us_040_00_500k.json",'r'))

In [27]:
state1 = []
deaths = []
for key in expected_deaths_per_facility:
    state1.append(key)
    deaths.append(expected_deaths_per_facility[key])

death_dataframe = {
    'State' : state1,
    'deaths per clinic' : deaths
}
df_death = pd.DataFrame(death_dataframe)

In [42]:
state_id_map = {}
for feature in us_states['features']:
    feature['id'] = feature['properties']['STATE']
    state_id_map[feature['properties']['NAME']]= feature['id']

df_death['id'] = df_death['State'].apply(lambda x: state_id_map[x])

In [47]:
# Expected number of deaths per facility by state via age segmentation
fig = px.choropleth(df_death, locations ='id',geojson = us_states,color='deaths per clinic',scope='usa',
                    title = 'Expected number of deaths of Black women per certified mammography facility by state via age segmentation')
fig.show()

In [66]:
state_id_map_2 = {}
for feature in us_states['features']:
    feature['id'] = feature['properties']['STATE']
    state_id_map_2[feature['properties']['NAME']]= feature['id']

dpf_trunc['id'] = dpf_trunc['State'].apply(lambda x: state_id_map_2[x])
dpf_trunc

,State,Hispanic ED/F,AAPI ED/F,NHW ED/F,NHB ED/F,AI/AN ED/F,id
0,Alabama,0.093338,0.034404,2.272186,1.352528,0.020324,01
1,Alaska,0.078891,0.107991,1.235196,0.087551,0.331988,02
2,Arizona,0.846936,0.103960,2.294453,0.253996,0.177011,04
3,Arkansas,0.173071,0.044242,2.626385,0.812694,0.029209,05
4,California,1.282876,0.508652,1.865418,0.404448,0.022121,06
5,Colorado,0.555653,0.096981,2.768227,0.216098,0.027449,08
6,Connecticut,0.334718,0.094474,2.062472,0.463879,0.006802,09
7,Delaware,0.190051,0.080882,2.036501,1.043841,0.010633,10
8,District of Columbia,0.301854,0.136261,1.636799,2.956012,0.009187,11
9,Florida,0.604458,0.066006,1.832263,0.763079,0.008847,12
10,Georgia,0.229213,0.103720,1.997329,1.784885,0.009255,13
11,Hawaii,0.100495,1.126093,0.757321,0.080808,0.008111,15
12,Idaho,0.279665,0.041807,2.933997,0.032709,0.041531,16
13,Illinois,0.418931,0.136871,2.302500,0.779670,0.006006,17
14,Indiana,0.168621,0.058333,2.950601,0.514879,0.009054,18
15,Iowa,0.082390,0.035236,1.842969,0.109043,0.006940,19
16,Kansas,0.199204,0.052766,2.008505,0.204015,0.022110,20
17,Kentucky,0.070900,0.031681,2.621527,0.354997,0.006624,21
18,Louisiana,0.100553,0.035465,1.875837,1.505435,0.021697,22
19,Maine,0.029372,0.024185,2.621729,0.056494,0.019317,23
20,Maryland,0.287511,0.189186,2.268800,1.990292,0.011589,24
21,Massachusetts,0.344582,0.198915,3.211540,0.463983,0.008224,25
22,Michigan,0.119071,0.074452,2.742267,0.736158,0.021811,26
23,Minnesota,0.086778,0.084454,2.106864,0.246283,0.029699,27
24,Mississippi,0.055664,0.021555,1.700820,1.647578,0.016127,28
25,Missouri,0.101021,0.054979,3.058375,0.647729,0.017349,29
26,Montana,0.046621,0.015347,1.908322,0.013612,0.143535,30
27,Nebraska,0.130294,0.033272,1.517664,0.127883,0.017241,31
28,Nevada,0.806440,0.270340,2.076885,0.579144,0.040355,32
29,New Hampshire,0.073164,0.055112,2.705620,0.053967,0.006396,33
30,New Jersey,0.478792,0.218003,1.980035,0.676540,0.005508,34
31,New Mexico,1.442178,0.057104,1.671288,0.101886,0.430184,35
32,New York,0.429757,0.197969,1.966059,0.753270,0.010914,36
33,North Carolina,0.225892,0.077036,2.441901,1.216247,0.046043,37
34,North Dakota,0.034064,0.016575,1.282651,0.061376,0.085041,38
35,Ohio,0.085829,0.054041,2.760943,0.639841,0.007049,39
36,Oklahoma,0.208107,0.053991,2.218780,0.347777,0.297128,40
37,Oregon,0.307365,0.129014,2.928961,0.096937,0.044969,41
38,Pennsylvania,0.170449,0.083761,2.744361,0.562039,0.005482,42
39,Rhode Island,0.309378,0.074457,2.268090,0.264749,0.014079,44
40,South Carolina,0.166137,0.055464,3.006344,1.821949,0.017921,45
41,South Dakota,0.036102,0.018218,1.471861,0.045902,0.159029,46
42,Tennessee,0.121181,0.044871,2.632104,0.866844,0.010312,47
43,Texas,1.311376,0.162057,2.061029,0.867080,0.016808,48
44,Utah,0.438586,0.112817,3.822994,0.069638,0.049578,49
45,Vermont,0.050316,0.052447,3.841093,0.063646,0.013940,50
46,Virginia,0.246361,0.179904,2.541118,1.142729,0.011278,51
47,Washington,0.384530,0.324936,3.403137,0.258325,0.066580,53
48,West Virginia,0.028181,0.014749,2.573617,0.123980,0.005842,54
49,Wisconsin,0.116456,0.049832,2.170606,0.242904,0.025041,55
50,Wyoming,0.112883,0.015136,1.566708,0.023865,0.042107,56

In [56]:
# Define function for visualizing expected number of deaths for each race per facility, organized by state
# Assume use of dpf_trunc dataframe
def edf_map(race, race_title):
    '''
    Return visualization of expected number of deaths for a given race per facility, organized by state
    '''
    fig = px.choropleth(dpf_trunc, locations ='id',geojson = us_states,color=race,scope='usa',
                    title = 'Expected number of deaths of ' + race_title + ' women from breast cancer per certified mammography facility, by state')
    return fig

In [62]:
# Expected number of deaths of Hispanic women from breast cancer per certified mammography facility, by state
fig1 = edf_map('Hispanic ED/F', 'Hispanic')
fig1.show()

In [58]:
# Expected number of deaths of AAPI and Native Hawaiian women from breast cancer per certified mammography facility, by state
fig2 = edf_map('AAPI ED/F', 'AAPI and Native Hawaiian')
fig2.show()

In [59]:
# Expected number of deaths of non-Hispanic White women from breast cancer per certified mammography facility, by state
fig3 = edf_map('NHW ED/F', 'non-Hispanic White')
fig3.show()

In [60]:
# Expected number of deaths of non-Hispanic Black women from breast cancer per certified mammography facility, by state
fig4 = edf_map('NHB ED/F', 'non-Hispanic Black')
fig4.show()

In [61]:
# Expected number of deaths of American Indian and Alaskan Native women from breast cancer per certified mammography facility, by state
fig5 = edf_map('AI/AN ED/F', 'American Indian and Alaskan Native')
fig5.show()

### 5. Conclusions ###

According to our analysis of age, **South Carolina, New Mexico, California, Washington, and Vermont** are most in need of federal funding from the FDA. These states had the highest expected number of deaths of women from breast cancer per facility.

Our analysis of race yielded varying results according to the particular race under investigation. However, we have concluded that marginalized populations of women (namely Black and Hispanic women) are most in need of aid in **Maryland, New Mexico, Texas, and California**.

### References ###

1. U.S. Cancer Statistics Working Group. U.S. Cancer Statistics Data Visualizations Tool, based on 2021 submission data (1999-2019): U.S. Department of Health and Human Services, Centers for Disease Control and Prevention and National Cancer Institute; https://www.cdc.gov/cancer/dataviz, released in November 2022.
2. Hirko, K.A., Rocque, G., Reasor, E. et al. The impact of race and ethnicity in breast cancer—disparities and implications for precision oncology. BMC Med 20, 72 (2022). https://doi.org/10.1186/s12916-022-02260-0

### External Datasets ###

1. American Cancer Society: Cancer Facts &amp; Statistics. American Cancer Society | Cancer Facts &amp; Statistics. (n.d.). Retrieved January 29, 2023, from https://cancerstatisticscenter.cancer.org/cancer-site/Breast/5j5EUt8W 
2. American Cancer Society: Cancer Facts &amp; Statistics. American Cancer Society | Cancer Facts &amp; Statistics. (n.d.). Retrieved January 29, 2023, from https://cancerstatisticscenter.cancer.org/cancer-site/Breast/tENxzKXJ 
3. Bureau, U. S. C. (2021, October 8). 2019 population estimates by age, sex, race and Hispanic origin. Census.gov. Retrieved January 29, 2023, from https://www.census.gov/newsroom/press-kits/2020/population-estimates-detailed.html 
4. List of state abbreviations (download CSV, JSON). (n.d.). Retrieved January 29, 2023, from https://worldpopulationreview.com/states/state-abbreviations